body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #495057;
    font-size: 14px;
    font-weight: 100;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
footer {
    font-size: 14px;
    margin-top: 40px;
    line-height: 18px;
    text-align: center;
    color: rgba(39, 33, 66, .4);
}



.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(rgba(205, 205, 205, 0.75), rgba(205, 208, 208, 0.75));

}

.weather-time img {
    margin-right: 10px;
    line-height: 64px;
    width: 74px;
}

.weather-time strong {
    font-size: 64px;
    font-weight: 400;
    line-height: 1;

}

.weather-time .units {
    position: relative;
    top: -34px;
    font-size: 12px;
    font-weight: 200;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    font-style: normal;
     font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}
.weather-forecast-temperatures{
    font-size: 14px;
    text-align: center;
}

.weather-forecast-date {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
     color: rgba(40, 40, 33, .4);
}

.weather-forecast-temperature-min { 
    opacity: 0.5;
}

.fontview {
    margin-bottom: 20px;
}

.container {
    background-image: linear-gradient(rgba(240, 240, 240, 0.75), rgba(240, 240, 240, 0.75)url("https: //images.unsplash.com/photo-1601134467661-3d775b999c8b?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775"));
}

.temprature {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.cities {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    ;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cee
}

.btn {
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out;
    border: 1px solid transparent;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.btn-success {
    color: #ffff;
    background-color: #5A6505;
    border-color: #5A6505;
}
.Weather footer {
    font-size: 14px;
    margin-top: 40px;
    line-height: 18px;
    text-align: center;
    color: rgba(39, 33, 66, .4);
}